*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2rem auto;
    text-align: center;
    width: fit-content;
    background-color: bisque;
}

h1 {
    text-decoration: underline;
    padding-bottom: 1rem;
}

p{
    padding-bottom: 1rem;
}

button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color:white;
}